{% extends 'blog/index_base.html' %}
{% block main %}
<h2>{{ category.name }}</h2>
<div id="pages">
{% include 'blog/post_list.html' with posts=posts %}
</div>
<!-- <ul class=""> -->
<!-- {% for post in posts %} -->
<!-- <li><a href="">{{ post.title }}</a></li> -->
<!-- {% endfor %} -->
<!-- </ul> -->
    <div class="">
      <input id="search-input" type="text" placeholder="search here" >
    <button id="search-button" class="btn btn-sm btn-success">Search</button>
    </div>
<div id="search-content">
{% include 'blog/search_ajax.html' with result_list=result_list %}

</div>
{% endblock %}
